<!DOCTYPE html>
<html>
	<head>
		<title>Programming Languages List</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body class="container">
		<h1>
			Programming Languages
			<a href="new-entry" class="btn btn-primary pull-right">Add Entry</a>
		</h1>