<!DOCTYPE html>
<html>
	<head>
		<title>Programming Languages List</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body class="container">
		<h1>
			Programming Languages
			<div class="pull-right">
				<a href="logout" class="btn btn-primary">Logout</a>
				<a href="new-entry" class="btn btn-primary">Add</a>
				<a href="delete-entry" class="btn btn-primary">Delete</a>
			</div>
		</h1>