<% include header %>

<% if(entries.length) { %>
	<% entries.forEach(function(entry) { %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="text-muted pull-right">
					<%= entry.published %>
				</div>
				<%= entry.title %>
				<a href="/" onclick="DeleteEntry()" data-id="<%= entry.id %>">(delete)</a>
			</div>
			<div class="panel-body">
				<%= entry.body %>
			</div>
		</div>
	<% }) %>
<% } else { %>
	No Entries <a href="/new-entry">Add a Language</a>
<% } %>

<% include footer %>