<% include header %>

<p>
	<t>There are hundreds if not thousands of programming languages out there, each with their own strengths and specializations. Though they do all share some common similarities, my skills are not equal with all languages. I decided to list the programming languages I know best in order of both expertise and preference. This could help me choose what language to use for a given project. Or show off my knowledge to potential employers or colleagues.
</p>
<hr>

<% include navigation %>

<% if(entries.length) { %>
	<% entries.forEach(function(entry) { %>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="text-muted pull-right">
					<%= entry.published %>
				</div>
				<%= entry.title %>
				<a href="/delete-entry?id=<%= entry._id %>">(delete)</a>
			</div>
			<div class="panel-body">
				<%= entry.body %>
			</div>
		</div>
	<% }) %>
<% } else { %>
	No Entries <a href="/new-entry">Add a Language</a>
<% } %>

<% include footer %>